section {
    display: flex;
}
#root {
    background: #1e1e1e
}
.sides {
    min-width: calc(65vw - 1.5px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sides:nth-child(1), .sides:nth-child(2) {
    min-width: calc(35vw - 1.5px);
}
.sides:nth-child(3) {
    border-left: 3px solid #707070;
}
.cm-scroller {
    border: 2px solid #707070;
}
h1 {
    color: white;
    font-size: 40px;
}
h2 {
    color: white;
    margin-top: 20px;
}
.submitCode {
    height: 60px;
    width: 200px;
    border-radius: 40px;
    border: none;
    font-size: 27px;
    background: #474747;
    margin-top: 30px;
    color: white;
    cursor: pointer;
}
textarea {
    width: calc(35vw - 1.5px);
    height: 400px;
    background: #fff;
    border: 4px solid #474747;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.editors {
    width: 100%;
    display: flex;
 }
.editorTitles {
    width: 100%;
    display: flex;
    justify-content: space-around;
}